* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "MyFont";
  src: url("Manrope-VariableFont_wght.ttf");
}

header {
  text-align: center;
  position: relative;
  height: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.login-container {
  position: relative;
  display: inline-block;
  padding: 10px;
  float: right;
  right: 30rem;
  top: 19%;
  right: 25rem;
}

.login-button {
  color: white;
  border: none;
  color: black;
  margin: 6px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.7rem;
}

.login-panel {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.login-container:hover .login-panel {
  display: block;
  z-index: 1000;
}
#Login {
  padding: 10px;
  margin: 15px;
  width: 70%;
}
#login--button {
  border: white 1px;
  background-color: #24b9d7;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  margin: 10px;
  width: 80%;
  font-size: 15px;
}
#Login--links {
  text-align: left;
  text-decoration: none;
  color: #24b9d7;
  padding: 10px;
}

#logo--top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  max-width: 100px;
  left: 26rem;
}
#search {
  width: 25%;
  height: 40%;
  margin-top: 30px;
  font-size: 20px;
  left: 10px;
}
input::placeholder {
  color: #999;
  font-style: italic;
}
#search {
  text-indent: 15px;
}
.koszyk-container {
  position: relative;
  display: inline-block;
  padding: 10px;
  float: right;
  right: 25rem;
  top: 25%;
}

.koszyk-panel {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
  left: -190px;
}

.koszyk-container:hover .koszyk-panel {
  display: block;
  z-index: 1000;
}
.login-container {
  display: flex;
  margin-right: 20px;
  align-items: center;
}
.lower--header {
  height: 70px;
  background-color: rgb(8, 8, 49);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.a--hover {
  min-width: 150px;
  padding: 30px 30px;
  border-right: 1px white solid;
  text-align: center;
  text-decoration: none;
  color: white;
  position: relative;
}

.a--hover:hover {
  background-color: rgb(20, 20, 107);
}

.a--hover:first-child {
  border-left: 1px white solid;
}

.a--hover:hover .subcategory {
  display: block;
}

.subcategory {
  display: none;
  position: absolute;
  color: black;
  top: 100%;
  left: 0;
  background: white;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: left;
  margin-bottom: 10px;
  text-decoration: none;
}
.a--header--lower {
  text-decoration: none;
  color: white;
  padding: 35px 30px;
  margin: 0px -20px;
}
#subcategory--a {
  text-decoration: none;
  color: black;
}
.subcategory p {
  margin-bottom: 10px;
  margin-top: 10px;
}

.subcategory a {
  margin: 10px;
}
.naglowek-main {
  font-size: 33px;
  padding-right: 68rem;
  padding-top: 3rem;
}
.main {
  text-align: center;
}

.item--dobre {
  display: inline-block;
  max-width: 300px;
  margin: 10px;
  border: grey 1px solid;
  width: 200px;
  height: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  border-radius: 8px;
  box-shadow: 0 1px 1px black;
}
.zdjecia-main {
  max-width: 200px;
  max-height: 110px;
  padding-top: 50px;
  padding-bottom: 30px;
}
.cena {
  padding-top: 20px;
  font-size: 25px;
}
.nazwa-itemy {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: myfont;
  color: black;
  font-weight: 400;
  margin: 0 20px;
}
.item--dobre--link {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-weight: lighter;
  font-family: Helvetica;
  font-size: 15px;
}
hr {
  width: 72%;
  margin: 0 auto;
}
.item--dobre:hover {
  background-color: rgb(228, 228, 228);
  box-shadow: 0 1px 1px black;
}
.naglowek--bottom1 {
  padding-right: 62%;
}
.container {
  display: flex;
  height: 700px;
  font-family: myfont;
}

.half1 {
  flex: 1;
  text-align: center;
  padding-left: 14%;
  padding-top: 5%;
  max-width: 50%;
}
.half {
  flex: 1;
  padding: 20px;
  padding-right: 300px;
  text-align: center;
  padding-top: 5%;
  max-width: 600px;
}
.zdjecie-podstrona {
  max-width: 700px;
  max-height: 650px;
  width: 600px;
  height: 400px;
  margin-right: 40px;
}
.opis {
  float: left;
  text-align: left;
}
.zdjecie-podstrona:hover {
  background-color: #f1f1f1;
}
.Ocena--podstrona {
  font-size: 25px;
  padding-top: 10px;
}
.naglowek--cena {
  color: #24b9d7;
  font-family: sans-serif;
  padding-top: 10px;
  font-size: 50px;
}
.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-input {
  width: 40px;
  margin-top: 50px;
  height: 40px;
  text-align: center;
  border: 1px solid white;
  margin-left: 5px;
  border: grey solid 1px;
  border-right: 0px;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.decrease-button,
.increase-button {
  background-color: white;
  border: 1px solid white;
  border: grey solid 1px;
  padding: 5px 10px;
  cursor: pointer;
  max-height: 21px;
  max-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.decrease-button:hover,
.increase-button:hover {
  background-color: #e0e0e0;
}
.increase-button {
  margin-top: 50px;
  border-bottom: 0px;
}
.footer {
  display: flex;
  justify-content: left;
  align-items: left;
  padding-left: 10%;
  margin-top: -140px;
}

.footer p {
  margin: 0;
  padding: 10px;
}
.button--podstrona {
  margin-top: 50px;
  border: none;
  background-color: #24b9d7;
  width: 280px;
  height: 42px;
  color: white;
  font-weight: 600;
  font-family: MyFont;
  font-size: 20px;
}
#quantity-inputt {
  text-indent: 12px;
}
.change {
  cursor: pointer;
  border: none;
  position: relative;
  letter-spacing: 1px;
}
.change:hover {
  content: "";
  display: block;
  border-bottom: 5px solid #24b9d7;
  margin-bottom: -5px;
  border-radius: 3px;
}
.hr-footer {
  width: 80%;
  margin-top: 2px;
}
.lower--footer {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-left: 10%;
}
.content--footer {
  width: 70%;
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: 30px;
  padding-bottom: 30px;
  font-family: myfont;
}
#content {
  font-family: myfont;
}
.table-container {
  display: flex;
  justify-content: space-between;
}

.table-column {
  flex-basis: 48%;
  padding-bottom: 40px;
}

.table-wrapper {
  font-size: 30px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 3px solid black;
}
li span:first-child {
  color: grey;
  font-size: 20px;
}
li span:nth-child(2) {
  font-size: 25px;
}
.content-lower {
  font-weight: bold;
}
.kategorie {
  font-size: 20px;
  margin: 10px;
}
.a--kategorie {
  margin: 20px;
  margin-bottom: 1000px;
}
/* O mMm */
.a--mmm {
  font-size: 20px;
  padding-bottom: 20px;
}
.main-mmm {
  float: left;
  padding-left: 16%;
  max-width: 70%;
  font-family: myfont;
}
.h1-mmm {
  padding-bottom: 20px;
  font-size: 30px;
}
.h1-mmmfirst {
  padding-left: 15%;
  padding-top: 50px;
  font-family: myfont;
  float: left;
  padding-bottom: 20px;
}
/*------------------ dostawa -----------------*/
.main--dostawa {
  font-family: myfont;
  padding-left: 16%;
}
.kontakt {
  font-family: myfont;
}
.kontakt label {
  padding-right: 30px;
}

.input-kontakt {
  margin: 5px 0;
  width: 200px;
  height: 30px;
  border-radius: 3px;
  text-indent: 10px;
  font-size: 15px;
  border: 1px solid rgb(134, 134, 134);
  background-color: #dbdbdb;
  margin-bottom: 10px;
}
.kontakt {
  padding-left: 35%;
  padding-top: 2%;
}
.label-kontakt {
  display: inline-block;
  width: 100px;
  text-align: right;
}

.kontakt input {
  display: inline-block;
  color: #4b4b4b;
}
.naglowek-kontakt {
  padding-left: 30%;
  padding-top: 50px;
  font-family: myfont;
}
#wiadomosc {
  width: 800px;
  height: 100px;
  margin: 5px 0;
  width: 200px;
  height: 30px;
  border-radius: 3px;
  text-indent: 10px;
  font-size: 15px;
  border: 1px solid rgb(134, 134, 134);
  background-color: #dbdbdb;
}
#zgoda {
  margin: 5px 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  font-size: 15px;
  border: 1px solid rgb(134, 134, 134);
  background-color: #dbdbdb;
  left: 130px;
  position: relative;
}
.zgoda {
  padding-left: 10px;
  left: 130px;
  position: relative;
}
.button--podstrona {
  background-color: #24b9d7;
  width: 300px;
  height: 42px;
  color: white;
  font-weight: 600;
  font-family: MyFont;
  font-size: 20px;
  left: 100px;
  position: relative;
}
